<div class="divide-y divide-gray-200">
  {% for ghost in ghosts %}
  <div class="flex items-center gap-4 py-4">
    <img
      src="{{ ghost.avatar_url }}"
      class="size-16 rounded-xl object-cover shadow-sm"
    />
    <div class="text-left">
      <div class="font-medium text-shadow-xs text-shadow-gray-200">
        @{{ ghost.login }}
      </div>
      <div class="text-sm flex items-center gap-2">
        <a
          class="text-gray-800 underline underline-offset-4"
          href="{{ ghost.html_url }}"
        >
          Profile
        </a>
        <span class="text-gray-600">·</span>
        <a
          class="text-gray-800 underline underline-offset-4"
          href="{{ ghost.repos_url }}"
        >
          Repositories
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
